<h1>Author edit</h1>


<% if @authors.errors.any? %>
  <% @authors.errors.full_message.each do |author| %>
    <p>
      <%= error %>
    </p>
  <% end %>
<% end %>

<%= form_for @authors, url:"/author/#{@authors.id}", method:"put" do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
  <%= f.label :age %>
  <%= f.text_field :age %>
  <%= f.submit %>
<% end %>
<p>

<%= link_to "Delete this author", "/author/#{@authors.id}", method:"delete", data: {confirm: 'Are you sure?'} %>
</p>

<p>
  <%= link_to"Back", :back %>
</p>